
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fff;

}
.main-section {
    font-family: Poppins;
}
.sub-con1 {
    /* border: 2px solid red; */
    background-image: url(/images/nav-background.png);
    background-repeat: no-repeat;
    width: 100%;
    margin: 1px auto;
}
.nav {
    width: 90%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-pic {
    display: flex;
    gap: 110px;
    align-items: center;

}
.nav-pic1 {
    width: 10px;
}
.nav-pic2 h1 {
    font-size: 35px;
    color: #24617D;
}
.nav-pic2 p {
    line-height: 1px;
    font-size: 11px;
    color: #759cb1;
}

.list ul {
    display: flex;
    flex-direction: row;
    justify-content: end;
}
.list li {
    padding: 3px 10px 3px 10px  ;
    display: inline-block;

}
.log {
    background-image: linear-gradient(#24617D, #4A7C97);
    color: #fff;
    margin-right: 10px;
    border-radius: 5px;

}
.list li:hover {
    border-bottom:4px solid #24617D;
}

.nav2 {
    width: 90%;
    margin: 10px auto;
    display: flex;
    align-items: center;
}
.nav2-text h2 {
    width: 100%;
    font-size: 52px;
    color: #24617D;
}
.nav2-text p {
    width: 100%;
    line-height: 2rem;
    font-size: 18px;
    color: #24617D;
}
.button {
    margin-top: 20px;
}
.button button {
    background-color:#24617D;
    padding: 7px 15px 7px 15px;
    color: #fff;
    border-radius: 5px;   
}
.nav2-pic img {
    width: 500px;
}
.sub-con1 .pp {
    text-align: center;
    font-size: 30px;
    color: #24617D;
}


.sub-con2 {
    /* border: 2px solid red; */
    background-color: #054866;
    width: 100%;
    margin: 10px auto;
    padding-top: 20px;
    padding-bottom: 20px;

}
.ass {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: 10px auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.ass-div {
    /* border: 2px solid red;  */
    background-image: linear-gradient(#084C6A,#457893);
    margin: 10px;
    width: 30%;
    padding: 30px;
    border-radius: 10px;
}
.ass-div h2 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 30px;
    color: #fff;
}
.ass-div p {
    font-size: 16px;
    color: #fff;
}

.button2 {
    /* background-color: black ; */
}
.button2 button {
    background-color: rgb(14, 14, 46);
    display: flex;
    width: 100%;
    padding: 10px;
    gap: 5px;
    text-align: center;
    justify-content: center;
    color: #fff;
    /* border-radius: 10px;  */
}


.sub-con3 {
    /* border: 2px solid red; */
    background-color: #fff;
    width: 100%;
    margin: 10px auto;
    padding: 20px 100px 20px 100px;
}
.sub-con3 h2 {
    text-align: center;
    color: #24617D;
    font-size: 30px;
}
.sub-con3 p {
    text-align: start;
    line-height: 2rem;
    font-size: 15px;
    margin-top: 10px;
}

.sub-con4 {
    /* border: 2px solid red; */
    background-color: #054866;
    padding: 40px 100px 30px 100px;
    color: #fff;
}
.flex {
    display: flex;
    justify-content: space-between;
}
.sub-flex {
    display: flex;
    gap: 80px;
}
.sub-flex2 {
    display: flex;
    gap: 100px;
}

.flex1 {
    color: #b7c9d2;
    font-size: 13px;
    margin-top: 30px;
}
.flex2 {
    color: #b7c9d2;
    font-size: 13px;
    line-height: 1.7rem;
}
.flex1b {
    display: flex;
    color: #fff;
    font-size: 15px;
    margin-bottom: 10px;
    align-items: center;
    gap: 3px;
}
.flex-img {
    width: 15px;
    height: 15px;
}
.flex3 {
    /* border: 2px solid red; */
    text-align: center;
    color: #b7c9d2;;
    font-size: 13px;
    margin-top: 40px;
    margin-bottom: -30px;
}
.flex1 .white {
    /* border: 2px solid red; */
    background: #fff;
    color: #054866;
    font-weight: bolder;
    padding: 5px;
    border-radius: 3px;
    text-align: center;
}

@media screen and (max-width:600px) {
    .main-section {
        width: 100%;
    }
    .sub-con1 {
        width: 100%;
    }
    .nav {
        width: 100%;
        margin: auto;
        padding: 0px;
    }
    .nav-pic {
        display: flex;
        gap: 40px;
    }
    .nav-pic1 img {
        width: 80px;
        margin-left: -10px;
    }
    .nav-pic2 h1 {
        font-size: 15px;
    }
    .nav-pic2 p {
        line-height: 1px;
        font-size: 5px;
    }
    .list li {
        font-size: 10px;
        padding: 1px 1px 1px 1px  ;
        display: inline-block;
    }
    .log {
        background-color: none;
        margin-right: 5px;
    }
    .nav2 {
        width: 90%;
        margin: 10px auto;
        display: flex;
        flex-direction: column-reverse;
    }
    .nav2-pic img {
        width: 100%;
    }
    .nav2-text h2 {
        width: 100%;
        text-align: center;
        font-size: 30px;
    }
    .nav2-text p {
        width: 100%;
        text-align: center;
        font-size: 16px;
    }
    .button{
        justify-content: center;
        display: flex;
        margin-top: 10px;
        margin-bottom: 20px;
    }
    .sub-con2 {
        width: 100%;
    }
    .ass {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .ass-div {
        width: 90%;
        text-align: center;
    }
    .sub-con3 {
        width: 100%;
        padding: 10px 2px 10px 2px;
    }
    .sub-con3 h2 {
        width: 90%;
        text-align: center;
        font-size: 25px;
    }
    .sub-con3 p {
        width: 90%;
        margin: 5px auto;
        text-align: start;
        line-height: 1.5rem;
        font-size: 15px;
    }
    
    .sub-con4 {
        width: 100%;
    }
    .flex {
        width: 90%;
        display: flex;
        flex-direction: column;
    }
    .sub-flex {
        width: 100%;
        display: flex;
        gap: 50px;
    }
    .sub-flex2 {
        display: flex;
        gap: 30px;
        margin-top: 20px;
    }
    .flex1b {
        font-size: 13px;
    }
    .flex3 {
        font-size: 10px;
    }
    
}


@media screen and (max-width:800px) {
    /* styles for tablets go here */
    .main-section {
        width: 100%;
    }
    .sub-con1 {
        width: 100%;
    }
    .nav {
        width: 100%;
        margin: auto;
        padding: 0px;
    }
    .nav-pic {
        display: flex;
        gap: 40px;
    }
    .nav-pic1 img {
        width: 80px;
        margin-left: -10px;
    }
    .nav-pic2 h1 {
        font-size: 15px;
    }
    .nav-pic2 p {
        line-height: 1px;
        font-size: 5px;
    }
    .list li {
        font-size: 10px;
        padding: 1px 1px 1px 1px  ;
        display: inline-block;
    }
    .log {
        background-color: none;
        margin-right: 5px;
    }
    .nav2 {
        width: 90%;
        margin: 10px auto;
        display: flex;
        flex-direction: column-reverse;
    }
    .nav2-pic img {
        width: 100%;
    }
    .nav2-text h2 {
        width: 100%;
        text-align: center;
        font-size: 30px;
    }
    .nav2-text p {
        width: 100%;
        text-align: center;
        font-size: 16px;
    }
    .button{
        justify-content: center;
        display: flex;
        margin-top: 10px;
        margin-bottom: 20px;
    }
    .sub-con2 {
        width: 100%;
    }
    .ass {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .ass-div {
        width: 90%;
        text-align: center;
    }
    .sub-con3 {
        width: 100%;
        padding: 10px 2px 10px 2px;
    }
    .sub-con3 h2 {
        width: 90%;
        text-align: center;
        font-size: 25px;
    }
    .sub-con3 p {
        width: 90%;
        margin: 5px auto;
        text-align: start;
        line-height: 1.5rem;
        font-size: 15px;
    }
    
    .sub-con4 {
        width: 100%;
    }
    .flex {
        width: 90%;
        display: flex;
        flex-direction: column;
        gap: 5rem;
    }
    .sub-flex {
        width: 100%;
        display: flex;
        justify-content: center;
        gap: 30px;
    }
    .sub-flex2 {
        display: flex;
        justify-content: center;
        gap: 30px;
    }   
}